#root {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;  
  background-color: var(--bkg);
}

body {
  background-color: var(--bkg-diff)
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Arkanoid';
  src: url('/fonts/Arka_solid.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe-Clean';
  src: url('./fonts/AdobeCleanUXMedium.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe-Clean';
  src: url('./fonts/AdobeCleanUXMediumIt.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe-Clean';
  src: url('./fonts/AdobeCleanUXSemiLight.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe-Clean';
  src: url('./fonts/AdobeCleanUXSemiLightIt.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe-Clean';
  src: url('./fonts/AdobeCleanUXLight.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe-Clean';
  src: url('./fonts/AdobeCleanUXLightIt.otf');
  font-weight: 100;
  font-style: italic;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App CSS */
.view {
  min-height: 100vh;
  padding: 0!important;
}

/* Header Component */

.header-box {
  height: 45px;
  background-color: var(--bkg-ui);
}

.header-text {
  padding: 0.5rem;
  font-family: Arkanoid;
  font-size: 1.4rem;
  color: var(--text-primary);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Navigation Component */

.click-link {
  transition: all ease 0.2s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.click-link:hover, .click-link:focus, .click-link:active {
  transform:translateY(-2px);
  color: var(--text-secondary);
}

.clicked-link {
  transition: all ease 0.2s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transform:translateY(-2px);
  color: var(--text-secondary);
}

/* Article Component */
.img-container {
  width: 200px;
}

.img-container img {
  width: 100%;
}

.img-box {
  width: 200px;
  border: 2px solid var(--bkg-diff);
  margin: 15px;
}

.img-box img {
  width: 95%;
}

.stats-box {
  border: 2px solid var(--bkg-diff);
}

.article-body {
  width: 95%;
}

hr {
  border-top: var(--bs-border-width) solid var(--text-primary);
}

/* Document Component */
.subheader-container {
  display: flex;
  justify-content: space-between;
}

.subheader-right {
  flex: 1;
  text-align: right;
  margin: 0 ;
}

.subheader-left {
  flex: 1;
  text-align: left;
  margin: 0 ;
}


.dropDownHeader {
  padding-bottom: 2px;
}

.dropDownHeader span {
  font-size: 0.8rem;
}

/* Form Component */

.sub-Btn {
  color: var(--bkg);
  background-color: var(--text-secondary);
  border: 1px solid transparent;
  margin: 15px 0;
  width: 100px;
}

.sub-Btn:hover {
  border: 1px solid var(--text-primary);
}

/* Portfolio Component */

.portfolio-item {
  width: 350px;
  height: 195px;
  overflow: hidden;
  border: 2px solid var(--text-secondary);
}

.portfolio-item img {
  width: 100%;
  transition: all 0.2s ease;
  z-index: 1;
  opacity: 50%;
}

.portfolio-item img:hover {
  transform: scale(105%);
}

.portfolio-item h4, .portfolio-item h5 {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: all 0.2s ease;
  z-index: 2;
  text-shadow: 2px 2px var(--bkg-ui);
}

.portfolio-item h4:hover, .portfolio-item h5:hover {
  transform: scale(105%);
  color: var(--text-secondary);
  text-shadow: 4px 4px var(--bkg-ui);
}

.portfolio-item h4 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 3rem;
} 

.portfolio-item h5 {
  margin-left: 10px;
  margin-top: 70px;
  font-size: 2rem;
} 

/* Responsive Styling */

.cls-1 {
  fill: var(--text-primary);
  stroke-width: 0px;
}

#toggleBtnMobile {
  margin: 15px 0;
  background-color: var(--bkg-ui);
}

.hamburger-menu-list {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--bkg);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s;
  top: -100vh;
}

.hamburger-menu-list a p {
  font-size: 2rem;
  margin: 20px;
}

.hamburger-menu-list a .social-media-icon {
  width: 54px;
}

.hamburger-menu-list .social-media-collection {
  width: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
}

.hamburger-menu-list.menu-open {
  top: 0;
}

.hamburger-menu {
  display: none;
}

#rotating-image {
  transition: transform 0.5s ease;
  width: 60px;
}

.rotated {
  transform: rotate(90deg);
}

#rotating-image.rotated {
  transform: rotate(90deg);
}

.mobile-header-text {
  display: none;
}

@media screen and (max-width: 450px) {
  .header-text {
    display: none;
  }

  .header-box {
    height: 75px;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    flex: 2;
    z-index: 4;
    position: relative;
    margin-right: 10px;
  }

  .hamburger-menu img {
      width: 50px;
      margin: 15px;
  }

  .top-bar {
    display: none;
  }

  .portfolio-item h4 {
    font-size: 1.8rem;
    margin-top: 4px;
  }

  .portfolio-item h5 {
    margin-top: 58px;
    font-size: 1.4rem;
  }

  .portfolio-item {
    height: 115px;
  }

  #toggleBtn {
    display: none;
  }

  #headerRoot {
    position: fixed;
    z-index: 5;
  }

  #bodyRoot {
    margin-top: 90px;
    margin-bottom: 45px;
  }

  .img-box {
    width: 100%;
    margin: 15px 0;
  }

  .sub-Btn {
    width: 100%;
  }

  .subheader-container {
    display: block;
    justify-content: start;
  }

  .subheader-left {
    flex: none;
  }

  .subheader-right {
    flex: none;
    text-align: left;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }

  .mobile-header-text {
    display: block;
    margin: 0 12px;
    margin-top: 4px;
    font-family: Arkanoid;
    font-size: 2rem;
    color: var(--text-primary);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

}